*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg ,#108f6b, #4eaa9f);
   color: #fff;
   margin: 100px auto 0;
   border-radius: 20px;
   padding: 40px 35px;
   text-align: center;
   overflow: hidden;
   box-shadow: 0 0 10px rgba(18, 216, 210, 0.1);

}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width:60px ;
    height: 60px;
    cursor: pointer;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 40px;
    font-weight: 400;
}
.col img{
    width:70px ;
    height: 70px;
    margin-right: 10px;
}
.details{
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    padding: 0 20px;

}
.col{
    display: flex;
    align-items: center;
    text-align: center;
}
.error-message {
    color: red;
    font-size: 1.2em;
  
  }

  @media only screen and (max-width: 600px) {
    .search {
      flex-direction: column;
      align-items: center;
    }
  
    input {
      width: 100%;
      margin-bottom: 10px;
    }
  
    button {
      width: 100%;
    }
  
    .weather {
      text-align: center;
    }
  
    .details {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .col {
      margin-bottom: 10px;
    }

    
  }